<h3>Trabajo primera clase</h3>


<input type="number" name="edadUno" placeholder="Ingrese la primera edad" [(ngModel)]="edadUno"/>
<br>
<input type="number" name="edadDos" placeholder="Ingrese la segunda edad" [(ngModel)]="edadDos"/>
<br>

<input type="number" name="suma" *ngIf="suma" [(ngModel)]="suma"/>
<br>
<input type="number" name="promedio" *ngIf="promedio" [(ngModel)]="promedio"/>
<br>

<button (click)="calcularPromedio()">Calcular</button>
<br>
<button (click)="limpiar()">Limpiar</button>
